@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches:wght@400;700&display=swap');
.title {
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

.code {
    font-weight: 700;
    font-family: 'Anonymous Pro', monospace;
}

.header {
    font-weight: 400;
    font-family: 'Poppins', monospace;
}

/* border-dashed border-4 dark:hover:border-gray-300 dark:border-gray-600 hover:border-gray-300 border-gray-100 rounded-xl */